*.o
*.a
*.log
*.zip
*.cache
*.status
*.trs
*.txt
test
test_bin
back_end/turbo_test
.DS_Store
third_party/glog/
third_party/gtest/samples/
third_party/gtest/fused-src/
third_party/gtest/scripts/
*.m4
**/Makefile.in
**/Makefile
Makefile
Makefile.in
**/.deps
.deps
*.bin
compile
test-driver
