*.o
*.a
*.log
*.zip
*.cache
*.status
test
test_bin
**/.DS_Store
third_party/glog/
third_party/gtest/samples/
third_party/gtest/fused-src/
third_party/gtest/scripts/
**/Makefile
Makefile
**/.deps
.deps
