[submodule "base_workspace/submodules/googletest"]
	path = base_workspace/submodules/googletest
  url = https://github.com/bjh83/googletest.git
  ignore = dirty
[submodule "base_workspace/submodules/glog"]
	path = base_workspace/submodules/glog
  url = https://github.com/google/glog.git
  ignore = dirty
